#root {
    display: flex;
    flex-direction: column;
}


img {
    height: 200px;
    width: 200px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.item {
    max-width: 100px;
}

.shop {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1 / 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

ul {
    list-style: none;
}

.title {
    font-size: 50px;

}

.links {
    font-size: 35px;
    display: flex;
    gap: 100px;
}

a {
    text-decoration: none;
}

#cart {
    display: none;
}

#cart.show {
    display: block;
}